option_settings:
  aws:elasticbeanstalk:application:environment:
    # Make this the domain you want to server your application front end from.  This examples uses my github pages site
    # This isn't neccessary if you only want to run the frontend at localhost:5173
    FRONTEND_URL: "https://zwalker.github.io" 
    RAILS_ENV: "production"
    RAILS_SERVE_STATIC_FILES: "true"